In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\i\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\i\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: pandas in c:\users\i\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\i\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\i\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\i\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\i\anaconda3\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: soupsieve>1.2 in c:\users\i\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\i\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\i\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\i\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\i\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\i\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [65]:
import pandas as pd

In [67]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_active_Indian_military_aircraft"

In [69]:
tables = pd.read_html(wiki_url)

In [71]:
print(f"Found {len(tables)} tables on the page.")

Found 21 tables on the page.

In [73]:
df_aircraft = tables[0]

In [75]:
print(df_aircraft.head())

          Aircraft          Origin                Type         Variant  \
   Combat Aircraft Combat Aircraft     Combat Aircraft Combat Aircraft
0  Dassault Rafale          France           Multirole              DH
1  Dassault Rafale          France           Multirole              EH
2        HAL Tejas           India           Multirole            Mk.1
3        HAL Tejas           India  Conversion trainer    Mk.1 Trainer
4        HAL Tejas           India           Multirole           Mk.1A

       In service                                   Notes
  Combat Aircraft                         Combat Aircraft
0            8[1]                                     NaN
1           28[1]                                     NaN
2        31[2][3]                                     NaN
3         4[4][5]  Used for training; 14 more on order[6]
4             NaN     73 on order, 97 more approved[6][7]

In [77]:
df_aircraft.to_csv('indian_military_aircraft.csv', index=False)